In [1]:
import numpy as np
import pandas as pd

### Sorting can be done vertically (by index values) OR horizontally (by column values)

In [2]:
df = pd.DataFrame(
    np.random.choice(['YES','NO','MAYBE'],(3,7)),
    columns=['S','M','T','W','T','F','S']
)

In [3]:
# Sort by index values
df.sort_index(ascending=False)

       S      M      T      W      T      F      S
2     NO  MAYBE     NO     NO  MAYBE  MAYBE  MAYBE
1  MAYBE  MAYBE  MAYBE     NO     NO     NO  MAYBE
0    YES     NO    YES  MAYBE     NO    YES     NO

In [4]:
# Sort by column values
df.sort_index(axis=1)

       F      M      S      S      T      T      W
0    YES     NO    YES     NO    YES     NO  MAYBE
1     NO  MAYBE  MAYBE  MAYBE  MAYBE     NO     NO
2  MAYBE  MAYBE     NO  MAYBE     NO  MAYBE     NO

In [5]:
# sort by column value
df.sort_values(by='F')

       S      M      T      W      T      F      S
2     NO  MAYBE     NO     NO  MAYBE  MAYBE  MAYBE
1  MAYBE  MAYBE  MAYBE     NO     NO     NO  MAYBE
0    YES     NO    YES  MAYBE     NO    YES     NO

In [6]:
# sort by multiple column values
df.sort_values(by=['W','F'])

       S      M      T      W      T      F      S
0    YES     NO    YES  MAYBE     NO    YES     NO
2     NO  MAYBE     NO     NO  MAYBE  MAYBE  MAYBE
1  MAYBE  MAYBE  MAYBE     NO     NO     NO  MAYBE

In [7]:
# sort by multiple column values
df.sort_values(by=['W','F'],ascending=False)

       S      M      T      W      T      F      S
1  MAYBE  MAYBE  MAYBE     NO     NO     NO  MAYBE
2     NO  MAYBE     NO     NO  MAYBE  MAYBE  MAYBE
0    YES     NO    YES  MAYBE     NO    YES     NO

In [8]:
# sort by index values
df.sort_values(by=[0,2],ascending=False,axis=1)

       S      T      F      M      T      S      W
0    YES    YES    YES     NO     NO     NO  MAYBE
1  MAYBE  MAYBE     NO  MAYBE     NO  MAYBE     NO
2     NO     NO  MAYBE  MAYBE  MAYBE  MAYBE     NO